.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */

.banner-card-container {
  border: 1px solid #cbced2;
  border-radius: 10px;
  list-style-type: none;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 40px;
  width: 100%;
  max-width: 1000px;
}

.banner-title {
  color: #64748b;
  font-size: 36px;
  font-family: 'Roboto';
  font-weight: 600;
}

.banner-description {
  color: #64748b;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 400;
}

.show-more-button {
  color: #64748b;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 500;
  border: 1px solid #326a9d;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 6px;
}
